/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    chosen { zmk,physical-layout = &default_layout; };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Dvorak";
            bindings = <
&kp TAB                &mt NUMBER_1 SQT       &mt NUMBER_2 COMMA  &mt NUMBER_3 PERIOD  &mt NUMBER_4 P      &mt NUMBER_5 Y      &trans  &trans  &mt NUMBER_6 F  &mt N7 G     &mt NUMBER_8 C  &mt NUMBER_9 R  &mt NUMBER_0 L      &kp FSLH
&mt LEFT_SHIFT ESCAPE  &mt RA(EXCLAMATION) A  &mt RA(NUMBER_3) O  &mt RA(NUMBER_4) E   &mt RA(NUMBER_8) U  &mt RA(NUMBER_5) I  &trans  &trans  &kp D           &kp H        &kp T           &kp N           &mt RA(NUMBER_6) S  &kp MINUS
&kp LCTRL              &kp SEMI               &kp Q               &kp J                &mt RA(NUMBER_7) K  &kp X                               &kp B           &kp M        &kp W           &kp V           &mt RA(EQUAL) Z     &kp EQUAL
                                                                  &kp LGUI             &lt 1 SPACE         &kp BACKSPACE                       &kp RET         &lt 2 SPACE  &kp RALT
            >;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5    |  LCTRL | RCTRL |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | CTRL | BT1 | BT2 | BT3 | BT4 | BT5   |  LALT  | RALT  | LFT | DWN |  UP | RGT |     |      |
            // | SHFT | BTCR| RGB | RST | BOOT| Unlock|        |       |     |     |     |     |     |      |
            //                    | GUI |     | SPC   |        | ENT   |     | ALT |

            bindings = <
&kp TAB    &kp N1        &kp N2           &kp N3        &kp N4        &kp N5          &trans  &trans  &kp N6  &kp N7          &kp N8          &kp N9        &kp N0           &kp BSPC
&kp LCTRL  &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW  &trans
&kp LSHFT  &bt BT_CLR    &rgb_ug RGB_TOG  &sys_reset    &bootloader   &studio_unlock                  &trans  &trans          &trans          &trans        &trans           &kp PRINTSCREEN
                                          &trans        &trans        &trans                          &trans  &to 3           &trans
            >;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  | LCTRL | RCTRL |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |  LALT | RALT  |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |               |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |               | ENT |     | ALT |

            bindings = <
&kp TAB    &kp EXCL      &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT  &trans  &trans  &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR  &kp BSPC
&kp LCTRL  &kp RA(EXCL)  &trans  &kp E     &kp U       &kp I        &trans  &trans  &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT  &kp BSLH  &kp GRAVE
&kp LSHFT  &trans        &trans  &trans    &trans      &kp Z                        &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC  &kp PIPE  &kp TILDE
                                 &trans    &trans      &trans                       &trans     &trans     &trans
            >;
        };

        Mouse {
            bindings = <
&mkp MCLK  &msc SCRL_UP    &mmv MOVE_UP    &msc SCRL_DOWN   &msc SCRL_LEFT   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &to 0
&mkp LCLK  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &msc SCRL_RIGHT  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&mkp RCLK  &trans          &trans          &trans           &trans           &trans                  &trans  &trans  &trans  &trans  &trans  &trans
                                           &trans           &trans           &trans                  &trans  &to 4   &trans
            >;

            label = "Mouse";
        };

        RGB {
            bindings = <
&rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &rgb_ug RGB_SAI  &rgb_ug RGB_SAD  &rgb_ug RGB_BRI                 &rgb_ug RGB_BRD  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &to 0
&rgb_ug RGB_SPI  &rgb_ug RGB_SPD  &rgb_ug RGB_EFF  &rgb_ug RGB_EFR  &rgb_ug RGB_COLOR_HSB(0,0,100)  &trans           &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans           &trans           &trans           &trans           &trans                          &trans                           &trans  &trans  &trans  &trans  &trans  &trans
                                                   &trans           &trans                          &trans                           &trans  &to 3   &trans
            >;

            label = "RGB";
        };

        FN1-12 {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans   &trans   &trans
                        &trans  &trans  &trans                  &trans  &trans  &trans
            >;

            label = "FN1-12";
        };
    };
};
